.card-container {
    row-gap: 2.5rem;
    background-color: var(--primary-color);
}

.flip-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.flip-card-front {
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 20px;
}

.flip-card-front-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    pointer-events: none;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner h3 {
    font-size: 30px;
    color: var(--white);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-family: var(--font-montserrat);
}

.inner h6 {
    font-size: 20px;
    color: var(--white);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-family: var(--font-montserrat);
}

/* Flip on hover */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    color: var(--text-color);
    transform: rotateY(180deg);
    padding: 20px;
    overflow-y: auto;
}

.flip-card-back ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.flip-card-back li {
    margin-bottom: 8px;
    line-height: 1.4;
    font-weight: 500;
    font-family: var(--font-montserrat);
}

.inner {
    width: 100%;
    height: 100%;
}