.about-data-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-image-parent {
    width: 90%;
}

.about-image-parent img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width:556px) {
    .about-heading {
        font-size: 20px;
    }

    .about-description {
        font-size: 14px;
    }
}

@media (min-width:557px) and (max-width:991px) {
    .about-heading {
        font-size: 28px;
    }
}