.about-data-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-image-parent {
    width: 90%;
}

.about-image-parent img {
    width: 100%;
    border-radius: 8px;
}

@media (max-width:767px) {
    .about-image-parent {
        width: 100%;
    }

    .about-data-parent {
        padding-top: 30px;
    }
}

@media (min-width:768px) and (max-width:991px) {}