.navbar {
    background-color: var(--white) !important;
    color: rgb(0, 0, 0);
    z-index: 1000;
    transition: background-color 0.3s;
    padding-block: 12px;
}

.nav-upper-text {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.ds-none {
    display: none !important;
}

.navbar-logo>h4>span {
    color: var(--them-secondary);
}

.navbar-logo>a>img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.navbar-nav .nav-item {
    margin-right: 12px;
    display: flex;
}

.navbar-nav .nav-item .nav-link {
    font-weight: normal;
    color: var(--text-color) !important;
    font-family: var(--font-montserrat);
}

.navbar-toggler {
    border-radius: 0;
}

.sub-header-main {
    padding-bottom: 10px;
    padding-top: 110px;
    background-color: var(--white);
}

.nav-header-text {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    color: var(--black);
}


@media (max-width: 450px) {
    .sub-header-main {
        padding-top: 98px;
    }
}

@media (max-width: 576px) {
    .nav-upper-text {
        padding-inline: 10px;
    }
}

@media (min-width:451px) and (max-width:767px) {

    .sub-header-main {
        padding-top: 100px;
    }

}

@media (max-width: 767px) {

    .hide-on-scroll {
        display: none !important;
    }


    .navbar {
        padding-inline: 10px;
    }

    .nav-header-text {
        font-size: 11px;
        flex: 1;
        text-align: left;

    }

    .nav-upper-text {
        flex-direction: row;
        text-align: center;
        gap: 15px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-icon-parent {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-logo>a>img {
        height: auto;
        max-width: 200px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .nav-item {
        text-align: start;
        width: 100%;
    }

    .nav-link {
        font-size: 13px;
        text-align: left;
        color: var(--text-color);
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-icons .book-free-counsultaion-btn a {
        padding: 10px 10px !important;
    }

    .navbar-collapse {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(186, 198, 176, 0.1);
        padding: 10px 0px 20px;
    }

    .navbar-nav .nav-item .nav-link {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .nav-header-text {
        font-size: 11px;
        font-weight: 600;
    }

    .nav-icons-header-mail {
        font-size: 24px;
    }

    .nav-icons-header-phone {
        font-size: 15px;
    }

    .nav-icon-parent {
        gap: 13px;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-icons .book-free-counsultaion-btn a {
        padding: 10px 10px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .navbar-logo>a>img {
        width: 210px;
    }

    .navbar-nav .nav-item {
        margin-right: 12px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }

    .navbar-icons .book-free-counsultaion-btn a {
        padding: 7px 12px;
        font-size: 14px;
    }

    .sub-header-main {
        padding-top: 104px;
    }

    .nav-header-text {
        font-size: 12px;
    }

    .nav-icon-parent {
        gap: 7px;
    }

    .nav-icons-header-phone {
        font-size: 14px;
    }

    .nav-icons-header-mail {
        font-size: 22px;
    }
}