.faq-container {
    max-width: 850px;
    margin: 0 auto;
}

.faq-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question {
    padding: 16px 0px;
    font-weight: 400;
    font-size: 18px;
    color: var(--heading-color);
    align-items: center;
    font-family: var(--font-montserrat);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    opacity: 0;
    font-size: 16px;
    line-height: 1.8;
    font-family: var(--font-montserrat);
    color: var(--heading-color);
}

.answer.open {
    max-height: 300px;
    /* adjust if answer is longer */
    opacity: 1;
    margin-bottom: 32px;
}

.faq-heading {
    margin-bottom: 40px;
}

.faq-heading h1 {
    font-size: 40px;
    font-family: var(--font-family);
}

.disclaimer {
    text-align: center;
    color: #838383;
    padding-top: 30px;
    padding-inline: 120px;
}

.disc-bold {
    font-weight: bold;
    color: #838383;
}

.plus {
    color: #838383;
    font-weight: 500;
}

.faq-main {
    position: relative;
    background: var(--them-color);
}

.star-page-faq {
    position: absolute;
    top: 630px;
    left: 60px;
    right: auto;
    bottom: 0px;
    width: 100px;
}

.star-page-faq img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.page-shade-faq {
    position: absolute;
    top: 630px;
    left: -10px;
    right: auto;
    bottom: auto;
    width: 100px;
}

.page-shade-faq img {
    width: 100px;
    height: auto;
}

@media (max-width: 767px) {

    .answer {
        padding: 0 0px 12px 0px;
        font-size: 12px;
        color: var(--second-bg-color);
    }

    .question {
        font-size: 14px;
    }

    hr {
        margin: 0px;
    }
}

@media (min-width :768px) and (max-width : 991px) {
    .disclaimer {
        padding-inline: 0;
    }

    .star-page-faq {
        bottom: -20px;
    }

    .page-shade-faq {
        top: 560px;
    }

}

@media (min-width : 992px) and (max-width : 1199px) {}