.contact-us-form {
    background: var(--them-color);
}

.contact-us-form-container {
    margin-top: 25px;
}

.contact-btn {
    margin-top: 30px;
}

.fst-lst>input,
.email>input {
    margin: 0 0 12px 0;
    background-color: white;
    border: 1px solid #d3caca;
    border-radius: 8px;
    height: 57px;
    color: var(--second-bg-color);
}

.text-section>textarea {
    color: var(--second-bg-color);
    display: flex;
    padding: 25px 25px 25px 15px;
    border: 1px solid #d3caca;
    border-radius: 8px;
    resize: none;
}

.contact-label {
    margin: 10px 0;
}

@media (max-width: 767px) {
    .contact-btn>button {
        padding: 15px 25px;
        font-size: 18px;
        background-color: var(--them-secondary);
        color: aliceblue;
        border: none;
    }
}