.contact-us-form {
    /* background: var(--btn-color); */
}

.contact-us-form-container {
    margin-top: 25px;
}

.contact-btn {
    margin-top: 30px;
}

.fst-lst>input,
.email>input {
    margin: 0 0 12px 0;
    background-color: var(--white);
    border: 1px solid #78A0C8;
    border-radius: 8px;
    height: 57px;
    color: var(--white);
}

.fst-lst>input:focus,
.fst-lst>input:active {
    outline: none;

}

.text-section>textarea {
    color: var(--white);
    display: flex;
    padding: 25px 25px 25px 15px;
    border: 1px solid #78A0C8;
    border-radius: 8px;
    resize: none;
}

.contact-label {
    margin: 10px 0;
    color: var(--black);
}

@media (max-width: 767px) {
    .contact-btn>button {
        padding: 15px 25px;
        font-size: 18px;
        background-color: var(--btn-color);
        color: aliceblue;
        border: none;
    }
}