.testimonials {
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--background-color-gradient);
}

/* .slider {
    overflow: hidden;
} */

.slider {
    overflow: hidden;
    position: relative;
    /* Create left and right fade edges */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}


.slider-track {
    display: flex;
}

.testimonial {
    width: 250px;
    min-width: 250px;
    margin-right: 24px;
    background: #F3F5F7;
    padding: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-icon-parent {
    margin-bottom: 8px;
}

.testimonial-icon {
    color: var(--primary-color);
    font-size: 32px;
}

.testimonial-message p {
    color: var(--heading-color);
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.8;
    font-family: var(--font-montserrat);
}

.testimonial-data-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0;
    font-family: var(--font-montserrat);
    margin-bottom: 4px;
}

.testimonial-data-position {
    font-size: 12px;
    color: #B0B2B3;
    font-family: var(--font-montserrat);
}

/* Animations */
@keyframes scroll-ltr {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scroll-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider.ltr .slider-track {
    animation: scroll-ltr 20s linear infinite;
}

.slider.rtl .slider-track {
    animation: scroll-rtl 20s linear infinite;
}