@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #78A0C8;
    --secondary-color: #8CB4C8;
    --text-color: #212529;
    --heading-color: #1A2B3C;
    --white: white;
    --black: black;
    --btn-color: linear-gradient(to bottom right, #8CB4C8, #78A0C8);
    --font-montserrat: "Montserrat";
    --background-color: linear-gradient(135deg, #f2f4f8 0%, #B0D0E2 70%, #A0C0D8 80%);
    --background-color-gradient: linear-gradient(to top left, #E3EFF8 0%, #F1F7FC 45%, #ffffff 80%);
    /* background: linear-gradient(135deg, #F1F7FC 0%, #E3EFF8 100%); */

}

.headings-parent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--heading-color);
    line-height: 1.3;
    font-family: var(--font-montserrat);
}

.sub-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--primary-color);
}


.description {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
    font-family: var(--font-montserrat);
}

.all-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background: var(--btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: var(--font-montserrat);
}

.all-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.section-padding {
    padding-block: 70px;
}

.width60 {
    width: 60%;
}

@media (max-width:767px) {
    .section-padding {
        padding-block: 30px;
    }

    .main-heading {
        font-size: 18px;
        line-height: 1.6;
    }

    .sub-heading {
        font-size: 16px;
    }

    .description {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .width60 {
        width: 90% !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .section-padding {
        padding-block: 50px;
    }

    .main-heading {
        font-size: 24px;
        line-height: 1.4;
    }

    .sub-heading {
        font-size: 18px;
    }

    .description {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .width60 {
        width: 90% !important;
    }
}