:root {
    --primary-color: #78A0C8;
    /* Deep Blue for main footer bg */
    --secondary-color: #8CB4C8;
    /* Light Blue accent */
    --text-color: #F3F4F6;
    /* Soft white / off-white for text */
    --link-color: #93C5FD;
    /* Lighter link hover / highlight */
    --hover-color: #BFDBFE;
    /* Hover for links and icons */
    --second-bg-color: #111827;
    /* Darker footer sub-bg for contrast */
}

.headings-parent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1a1a;
    /* dark heading color */
    line-height: 1.5;
    /* optional, center the heading */
}

.sub-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #78A0C8;
    /* slightly lighter than main heading */
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.5;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.all-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to bottom right, #8CB4C8, #78A0C8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.all-btn:hover {
    /* background-color: #1e3a8a; */
    /* darker blue on hover */
    transform: translateY(-2px);
    /* small lift effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* stronger shadow on hover */
}

.section-padding {
    padding-block: 50px;
}