:root {
    --primary-color: #78A0C8;
    --secondary-color: #8CB4C8;
    --text-color: #212529;
    --heading-color: #1A2B3C;
    --white: white;
    --black: black;
    --btn-color: linear-gradient(to bottom right, #8CB4C8, #78A0C8);
}

.headings-parent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--heading-color);
    line-height: 1.5;
}

.sub-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--primary-color);
}


.description {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
}

.all-btn {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background: var(--btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.all-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.section-padding {
    padding-block: 50px;
}