.banner-container {
    height: calc(100vh - 75px);
    overflow: hidden;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* adjust the alpha for more/less darkness */
    pointer-events: none;
    /* allows clicks to pass through to video controls */
}

.carousel-video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.video-controls {
    position: absolute;
    bottom: 20px;
    /* right: 20px; */
    left: 20px;
    display: flex;
    gap: 10px;
}

.control-btn {
    /* background: rgba(0, 0, 0, 0.5); */
    background: transparent;
    color: white;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 12px 15px;
    cursor: pointer;
    /* border-radius: 5px; */
    font-size: 16px;
    transition: background 0.3s;
}

.control-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: left;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    max-width: 50%;
}

.banner-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.banner-text p {
    font-size: 1.2rem;
    font-weight: 300;

}

@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 1.8rem;
    }

    .banner-text p {
        font-size: 1rem;
    }
}