.banner-container {
    height: calc(100vh - 4.6875rem);
    overflow: hidden;
    position: relative;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 2;
}

.carousel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: left;
    color: var(--white);
    text-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.6);
    max-width: 50%;
    z-index: 3;
    transform: translateY(-50%);
}

.banner-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-family: var(--font-montserrat);
}

.banner-text p {
    font-size: 1.125rem;
    line-height: 1.8;
    font-family: var(--font-montserrat);
}

@media (max-width: 87.5rem) {

    .banner-text {
        max-width: 70%;
        left: 8%;
    }

    .banner-text h1 {
        font-size: 2.875rem;
    }

    .banner-text p {
        font-size: 1.125rem;
    }
}

@media (max-width: 64rem) {

    .banner-text {
        max-width: 80%;
        left: 8%;
    }

    .banner-text h1 {
        font-size: 2.25rem;
    }

    .banner-text p {
        font-size: 1rem;
    }
}

@media (max-width: 48rem) {

    .banner-text {
        max-width: 100%;
        left: 5%;
    }

    .banner-text h1 {
        font-size: 2.25rem;
        line-height: 1.2;
    }

    .banner-text p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media (max-width: 30rem) {

    .banner-text {
        max-width: 100%;
        left: 5%;
    }

    .banner-text h1 {
        font-size: 1.4rem;
    }

    .banner-text p {
        font-size: 0.8rem;
    }
}